.DS_Store
bin/
obj/
min/
*.psess
*.vspx
*.TMP
tmp/
.vs/

*.Resharper
*.user
*.suo
*.tss
*~

#**/wwwroot

#!**/wwwroot/web.config
**/node_modules
npm-debug.log
**/bower_components
**/dist
**/build
**/typings

# Visual Studio
.vs/restore.dg

NDependOut/
TestResults/
TestResult.xml
*.VisualState.xml
CodeCoverage/
*.orig
*.msi
*.exe
!NuGet.exe
!NuGet.targets
*.vdproj
*~HEAD
out.txt
._*



# IDEA
**/.idea/workspace.xml
**/.idea/tasks.xml
**/.idea/dictionaries/
**/.idea/libraries/

.listen_test
*codekit-config.json

#nuget 
#.nuget/
#!NuGet.exe

packages/
EF/
*.stackdump
*.favdoc
node_modules
npm-debug.log

# TEMP
*.bak

